<form class="tormenta20" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <label><i class="fas fa-dice-d20"></i> <a class="item" data-tab="attributes" title="Ficha">Ficha</a></label>
    <label><i class="fas fa-address-card"></i> <a class="item" data-tab="description" title="Biografia">Biografia</a></label>
    <label><i class="fas fa-wrench"></i> <a class="item" data-tab="aviso" title="Aviso">Aviso</a></label>
    <!-- <label>&nbsp;</label> -->
  </nav>


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="header-fields">
        <label>
          <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" data-dtype="String" /></h3>
          Nome
        </label>
        <div class="infos">
          <label>
            <input type="text" name="data.attributes.raca" value="{{data.attributes.raca}}" data-dtype="String" />
            Raça</label>

          <label>
            <input type="text" name="data.attributes.origem" value="{{data.attributes.origem}}" data-dtype="String" />
            Origem</label>
          <label>
            <input type="text" name="data.attributes.classe" value="{{data.attributes.classe}}" data-dtype="String" />
            Classe</label>

          <label class="nivel">
            <input type="text" name="data.attributes.nivel.value" value="{{data.attributes.nivel.value}}"
              data-dtype="Number" />
            Nível</label>
        </div>
        <Hr>
        <div class="infos">
          <label class="info">
            <input type="text" name="data.attributes.xp.value" value="{{data.attributes.xp.value}}"
              data-dtype="Number" />
            XP Atual</label>
          <label class="info">
            <input type="text" name="data.attributes.xp.proximo" value="{{data.attributes.xp.proximo}}"
              data-dtype="Number" />
            XP Próximo Nível</label>
          <label class="info">
            <input type="text" name="data.tamanho" value="{{data.tamanho}}" data-dtype="String" />
            Tamanho</label>
            <label class="info">
              <input type="text" name="data.deslocamento" value="{{data.deslocamento}}" data-dtype="Number" />
              Deslocamento (m)</label>
              <label class="info">
                <input type="text" name="data.attributes.cd" value="{{data.attributes.cd}}" data-dtype="Number" />
                CD base</label>
        </div>
      </div>

      <div class="dados">
        <div class="atributos">
          <ol class="items-list">
            {{#each data.atributos as |atr key|}}
            <li class="item flexrow" id="atributo" data-item-id="{{key}}">
              <span class="rollable atributo-rollable" data-roll="1d20+{{atr.mod}}" data-label="{{key}}"><label>
                  {{key}}
                  <h1 style="border: 0!important">{{atr.mod}}</h1>
                  <input type="hidden" name="data.atributos.{{key}}.mod" value="{{atr.mod}}" data-dtype="Number" />
                </label></span>
              <input type="text" name="data.atributos.{{key}}.value" value="{{atr.value}}" data-dtype="Number" />
            </li>
            {{/each}}
          </ol>
        </div>

        <div class="recursos">
          <div class="resource">
            <h4>PONTOS DE VIDA</h4>
            <label>
              <input type="text" name="data.attributes.pv.value" value="{{data.attributes.pv.value}}"
                data-dtype="Number" />
              <br>Atuais
            </label>
            <div class="vl"></div>
            <label>
              <input type="text" name="data.attributes.pv.max" value="{{data.attributes.pv.max}}" data-dtype="Number" />
              <br>Máximos
            </label>
            <div class="vl"></div>
            <label>
              <input type="text" name="data.attributes.pv.temp" value="{{data.attributes.pv.temp}}"
                data-dtype="Number" />
              <br>Temporários
            </label>
          </div>
          <div class="resource">
            <h4>PONTOS DE MANA</h4>
            <label>
              <input type="text" name="data.attributes.pm.value" value="{{data.attributes.pm.value}}"
                data-dtype="Number" />
              <br>Atuais
            </label>
            <div class="vl"></div>
            <label>
              <input type="text" name="data.attributes.pm.max" value="{{data.attributes.pm.max}}" data-dtype="Number" />
              <br>Máximos
            </label>
            <div class="vl"></div>
            <label>
              <input type="text" name="data.attributes.pm.temp" value="{{data.attributes.pm.temp}}"
                data-dtype="Number" />
              <br>Temporários
            </label>
          </div>
        </div>
        <div class="ataques">
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div>ARMAS</div>
            </li>
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name" >Nome</div>
              <div class="itam-rolls flex2"></div>
              <div class="item-controls"><a class="item-control item-create" title="Criar Arma" data-type="arma"><i class="fas fa-plus"></i>
                  Nova</a>
              </div>
            </li>
            {{#each actor.armas as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image" style="background-image: url('{{item.img}}')"></div>
              <div class="item-name"> <span class="rollable arma-rollable"
                      data-roll="1d20+{{item.data.atqBns}}+@data.pericias.{{item.data.pericia}}.value" data-label="{{item.name}}"><h4 class="item-name" style="flex: 5;">{{item.name}}</h4></span>
                    </div>
              <div class="itam-rolls flex2">+{{item.data.atq}} ({{item.data.dmg}}, {{item.data.criticoM}}/x{{item.data.criticoX}})</div>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              </li>
            {{/each}}
          </ol>
        </div>

        <div class="defesa">
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div class="item-name">DEFESA</div>
              <div class="item-separator" style="white-space: nowrap;visibility: hidden;">= 10 +</div>
              <div class="item-name">Mod. Destreza</div>
              <div class="item-separator"></div>
              <div class="item-name">Bônus de Armadura</div>
              <div class="item-separator"></div>
              <div class="item-name">Bônus de Escudo</div>
              <div class="item-separator"></div>
              <div class="item-name">Outros</div>
            </li>
            <li class="item flexrow text-center">
              <div class="item-name">{{data.defesa.value}}</div>
              <div class="item-separator" style="white-space: nowrap;">= 10 +</div>
              <div class="item-name">
                {{#if data.defesa.des }}
                <input type="checkbox" name="data.defesa.des" value="{{data.defesa.des}}" checked
                  data-dtype="Boolean" />
                {{else}}
                <input type="checkbox" name="data.defesa.des" value="{{data.defesa.des}}" data-dtype="Boolean" />
                {{/if}}
              </div>
              <div class="item-separator">+</div>
              <div class="item-name">{{data.armadura.defesa}}</div>
              <div class="item-separator">+</div>
              <div class="item-name">{{data.escudo.defesa}}</div>
              <div class="item-separator">+</div>
              <div class="item-name"><input type="text" name="data.defesa.outro" value="{{data.defesa.outro}}"
                  data-dtype="Number" /></div>
            </li>
            <li class="item flexrow item-header flex-center">
              <div class="item-name">Redução de Dano</div>
              <div class="item-separator"></div>
              <div class="item-name">RD Base</div>
              <div class="item-separator"></div>
              <div class="item-name">RD Temporario</div>
            </li>
            <li class="item flexrow text-center">
              <div class="item-name">{{data.rd.value}}</div>
              <div class="item-separator"></div>
              <div class="item-name"><input type="text" name="data.rd.base" value="{{data.rd.base}}"
                  data-dtype="Number" /></div>
              <div class="item-separator">+</div>
              <div class="item-name"><input type="text" name="data.rd.temp" value="{{data.rd.temp}}"
                  data-dtype="Number" /></div>
            </li>
			      <li class="item flexrow item-header flex-center">
              <div class="item-name">Resistências</div><input name="data.resistencias" style="text-align: left;" type="text" value="{{data.resistencias}}" data-dtype="String" />
            </li>
          </ol>
        </div>

        <div class="poderes">
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div>PODERES</div>
            </li>
            <li class="item flexrow item-header">
              <div class="item-name">Nome</div>
              <div class="item-tipo">Tipo</div>
              <div class="item-custo">PM</div>
              <div class="item-controls">

                <a class="item-control item-create" title="Novo Poder" data-type="poder"><i class="fas fa-plus"></i>
                  Novo</a>
              </div>
            </li>
            {{#each actor.poderes as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image" style="background-image: url('{{item.img}}')"></div>
              <span class="rollable poder-rollable" data-label="{{item.name}}">
                <h4 class="item-name">{{item.name}}</h4>
              </span>
              <div class="item-tipo">{{item.data.tipo}}</div>
              <div class="item-custo">{{item.data.custo}}</div>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        <div class="magias">
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div>MAGIAS</div>
            </li>
          {{#each actor.magias as |circulo i|}}
          <ol class="items-list" style="border-style:none;">
            <li class="item flexrow item-header">
              <div class="item-prep">Prep</div>
              <div class="item-name">{{i}}º Círculo ({{circulo.custo}} PM)</div>
              <div class="item-controls">

                <a class="item-control item-create" title="Create item" data-type="magia" data-circulo="{{i}}"><i
                    class="fas fa-plus"></i> Novo</a>
              </div>
            </li>
            {{#each circulo.spells as |m index|}}
            <li class="item flexrow" data-item-id="{{m._id}}">
              <div class="item-prep">
                {{#if m.data.preparada}}
                <input type="checkbox" class="preparada" value="{{m.data.preparada}}" checked data-dtype="Boolean" />
                {{else}}
                <input type="checkbox" class="preparada" value="{{m.data.preparada}}" data-dtype="Boolean" />
                {{/if}}
              </div>
              <div class="item-image" style="background-image: url('{{m.img}}')"></div>
              <h4 class="item-name"><span class="rollable magia-rollable" data-label="{{m.name}}">{{m.name}}</span></h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
          {{/each}}
          </ol>
        </div>

        <div class="outros">
          <h4>PROFICIÊNCIAS E OUTRAS CARACTERÍSTICAS</h4>
          <textarea name="data.attributes.info" rows="10"
            data-dtype="String">{{#if data.attributes.info}}{{data.attributes.info}}{{/if}}</textarea>
        </div>
      </div>

      <div class="skills">
        <div class="pericias">
          <table class="skl-tbl">
            <tr>
              <th class="col-5"></th>
              <th class="col-15">Perícias</th>
              <th class="col-10">TOTAL</th>
              <th class="col-5">Mod. Atributo</th>
              <th class="col-5">Treino</th>
              <th class="col-5">Outros</th>
            </tr>
            {{#each actor.data.pericias as |skill key|}}
            {{#ifEquals key "ofi"}}
            <tr>
              <td></td>
              <td colspan="3" class="tooltip"><b>Ofícios</b> <i class="fas fa-question-circle"></i>
                <div class="tooltipcontent">Insira um '+' no nome para incluir penalidade de armadura. </div>
              </td>
              <td colspan="2" class="text-right"><a class="item-control oficios-create" title="Create item"
                  data-tipo="oficio"><i class="fas fa-plus"></i> Novo</a> <a class="item-control show-controls"
                  title="Editar Perícias"><i class="fas fa-cogs"></i></a></td>
            </tr>

            {{#each skill.mais as |ofi o|}}
            <tr class="skill-tr" data-item-id="{{o}}" data-skill="oficios">
              <td class="col-5">
                {{#if ofi.treinado }}
                <input type="checkbox" name="data.pericias.ofi.mais.{{o}}.treinado" value="{{ofi.treinado}}" checked
                  data-dtype="Boolean" />
              </td>
              {{else}}
              <input type="checkbox" name="data.pericias.ofi.mais.{{o}}.treinado" value="{{ofi.treinado}}"
                data-dtype="Boolean" /></td>
              {{/if}}
              <td class="col-15"><span class="rollable pericia-rollable" data-skill="ofi" data-ofi="{{o}}"
                  data-roll="1d20+{{ofi.value}}" data-label="Ofício ({{ofi.nome}})"
                  style="width: 30%;margin-right: 10px;"><i class="fas fa-dice-d20"></i></span> <input type="text"
                  name="data.pericias.ofi.mais.{{o}}.label" value="{{ofi.label}}" data-dtype="String"
                  style="width:65%" />
              </td>
              <td class='col-10'><input type="text" class="border" value="{{ofi.value}}" data-dtype="Number" disabled />
              </td>
              <td class="col-10 text-center">
                <select class="selectatr" name="data.pericias.ofi.mais.{{o}}.atributo" value={{ofi.atributo}}
                  data-dtype="String">
                  {{#select ofi.atributo}}
                  <option value="for">For</option>
                  <option value="des">Des</option>
                  <option value="con">Con</option>
                  <option value="int">Int</option>
                  <option value="sab">Sab</option>
                  <option value="car">Car</option>
                  {{/select}}
                </select>
              </td>
              <input type="hidden" name="data.pericias.ofi.mais.{{o}}.treino" value="{{ofi.treino}}"
                data-dtype="Number" />

              <td class="col-5 text-center">{{ofi.treino}} </td>
              <td class="col-5 text-center skill-td"><input type="text" name="data.pericias.ofi.mais.{{o}}.outros"
                  value="{{ofi.outros}}" class="skill-outros" style="display: inline;" data-dtype="Number" /> <a
                  class="item-control skill-delete" style="display: none;" data-item-id="{{o}}" data-tipo="oficios"
                  title="Delete Item"><i class="fas fa-trash"></i></a></td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
              <td class="col-5">
                {{#if skill.treinado }}
                <input type="checkbox" name="data.pericias.{{key}}.treinado" value="{{skill.treinado}}" checked
                  data-dtype="Boolean" />
              </td>
              {{else}}
              <input type="checkbox" name="data.pericias.{{key}}.treinado" value="{{skill.treinado}}"
                data-dtype="Boolean" /></td>
              {{/if}}
              <td class="col-15"><span class="rollable pericia-rollable" data-skill="{{key}}"
                  data-roll="1d20+{{skill.value}}" data-label="{{skill.label}}">{{skill.label}} {{#if skill.st}}*{{/if}}
                  {{#if skill.pda}}+{{/if}}</span>
              </td>
              <td class='col-10'><input type="text" class="border" value="{{skill.value}}" data-dtype="Number"
                  disabled /></td>
              <td class="col-10 text-center">
                <select class="selectatr" name="data.pericias.{{key}}.atributo" value={{skill.atributo}}
                  data-dtype="String">
                  {{#select skill.atributo}}
                  <option value="for">For</option>
                  <option value="des">Des</option>
                  <option value="con">Con</option>
                  <option value="int">Int</option>
                  <option value="sab">Sab</option>
                  <option value="car">Car</option>
                  {{/select}}
                </select>
              </td>
              <input type="hidden" name="data.pericias.{{key}}.treino" value="{{skill.treino}}" data-dtype="Number" />

              <td class="col-5 text-center">{{skill.treino}} </td>
              <td class="col-5 text-center"><input type="text" name="data.pericias.{{key}}.outros"
                  value="{{skill.outros}}" data-dtype="Number" /></td>
            </tr>
            {{/ifEquals}}
            {{/each}}

            <tr>
              <td></td>
              <td colspan="3" class="tooltip"><b>Nova Perícia</b> <i class="fas fa-question-circle"></i>
                <div class="tooltipcontent">Insira um '+' no nome para incluir penalidade de armadura.</div>
              </td>
              <td colspan="2" class="text-right"><a class="item-control pericia-create" title="Criar Perícia"
                  data-tipo="pericia"><i class="fas fa-plus"></i> Novo</a> <a class="item-control show-controls"
                  title="Editar Perícias"><i class="fas fa-cogs"></i></a></td>
            </tr>
            {{#each actor.data.periciasCustom as |skill key|}}
            <tr class="skill-tr" data-item-id="{{key}}" data-skill="custom">
              <td class="col-5">
                {{#if skill.treinado }}
                <input type="checkbox" name="data.periciasCustom.{{key}}.treinado" value="{{skill.treinado}}" checked
                  data-dtype="Boolean" />
              </td>
              {{else}}
              <input type="checkbox" name="data.periciasCustom.{{key}}.treinado" value="{{skill.treinado}}"
                data-dtype="Boolean" /></td>
              {{/if}}

              <td class="col-15"><span class="rollable pericia-rollable" data-skill="custom" data-custom="{{key}}"
                  data-roll="1d20+{{skill.value}}" data-label="{{skill.nome}}" style="width: 30%;margin-right: 10px;"><i
                    class="fas fa-dice-d20"></i></span> <input type="text" name="data.periciasCustom.{{key}}.label"
                  value="{{skill.label}}" data-dtype="String" style="width:65%" />
              </td>

              <td class='col-10'><input type="text" class="border" value="{{skill.value}}" data-dtype="Number"
                  disabled /></td>
              <td class="col-10 text-center">
                <select class="selectatr" name="data.periciasCustom.{{key}}.atributo" value={{skill.atributo}}
                  data-dtype="String">
                  {{#select skill.atributo}}
                  <option value="for">For</option>
                  <option value="des">Des</option>
                  <option value="con">Con</option>
                  <option value="int">Int</option>
                  <option value="sab">Sab</option>
                  <option value="car">Car</option>
                  {{/select}}
                </select>
              </td>


              <td class="col-5 text-center">{{skill.treino}} </td>
              <td class="col-5 text-center skill-td"><input type="text" name="data.periciasCustom.{{key}}.outros"
                  value="{{skill.outros}}" class="skill-outros" style="display: inline;" data-dtype="Number" /> <a
                  class="item-control skill-delete" style="display: none;" data-item-id="{{key}}" data-tipo="custom"
                  title="Excluir Perícia"><i class="fas fa-trash"></i></a></td>
            </tr>
            {{/each}}
          </table>
        </div>

        <div class="equips">


          <div class="cell cell--equips">
            <h2 class="cell__title">
              <label>Equipamentos</label>
            </h2>
			<ol class="items-list">
				<li class="item flexrow item-header flex-center">
				  <div>Equipado</div>
				  <div>Item</div>
				  <div>Defesa</div>
				  <div>Penalidade</div>
				</li>
				<li class="item flexrow text-center">
				  <div>
					{{#if data.armadura.equipado }}
					<input type="checkbox" name="data.armadura.equipado" value="{{data.armadura.equipado}}" checked
					  data-dtype="Boolean" />
					{{else}}
					<input type="checkbox" name="data.armadura.equipado" value="{{data.armadura.equipado}}"
					  data-dtype="Boolean" />
					{{/if}}
				  </div>
				  <div><input type="text" name="data.armadura.nome" value="{{data.armadura.nome}}" data-dtype="String" placeholder="Armadura" />
				  </div>
				  <div><input type="text" name="data.armadura.defesa" value="{{data.armadura.defesa}}" data-dtype="Number" />
				  </div>
				  <div><input type="text" name="data.armadura.penalidade" value="{{data.armadura.penalidade}}"
					  data-dtype="Number" /></div>
				</li>
				<li class="item flexrow text-center">
				  <div>
					{{#if data.escudo.equipado }}
					<input type="checkbox" name="data.escudo.equipado" value="{{data.escudo.equipado}}" checked
					  data-dtype="Boolean" />
					{{else}}
					<input type="checkbox" name="data.escudo.equipado" value="{{data.escudo.equipado}}"
					  data-dtype="Boolean" />
					{{/if}}
				  </div>
				  <div><input type="text" name="data.escudo.nome" value="{{data.escudo.nome}}" data-dtype="String" placeholder="Escudo" /></div>
				  <div><input type="text" name="data.escudo.defesa" value="{{data.escudo.defesa}}" data-dtype="Number" />
				  </div>
				  <div><input type="text" name="data.escudo.penalidade" value="{{data.escudo.penalidade}}"
					  data-dtype="Number" /></div>
				</li>
			</ol>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-name" style="flex: 5;">Nome</div>
              <div class="item-qtd">Qtd</div>
              <div class="item-peso">Peso</div>
              <div class="item-controls">
              
              </div>
            </li>
            {{#each actor.equipamentos as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image" style="background-image: url('{{item.img}}')"></div>
              {{#ifEquals item.type "consumivel"}}
              <h4 class="item-name" style="flex: 5;"><span class="rollable consumivel-rollable" data-roll="{{item.data.efeito}}" data-label="{{item.name}}">{{item.name}}</span></h4>
              {{else}}
              <h4 class="item-name" style="flex: 5;">{{item.name}}</h4>
              {{/ifEquals}}
                <div class="item-qtd">{{item.data.qtd}}</div>
                <div class="item-peso">{{item.peso}}</div>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
              {{/each}}
              <li class="item flexrow item-header">
                <div class="item-name text-right">
                  &nbsp;&nbsp;
                  <a class="item-control item-create" title="Criar consumivel" data-type="consumivel"><i
                      class="fas fa-plus"></i> Consumível</a>
                  &nbsp;&nbsp;
                  <a class="item-control item-create" title="Criar tesouro" data-type="tesouro"><i
                      class="fas fa-plus"></i> Item</a>
                </div>
              </li>
            </ol>
          </div>
          <div class="infos bottom">
            <label>T$: <input type="text" name="data.detalhes.dinheiro.tp" value="{{data.detalhes.dinheiro.tp}}"
                data-dtype="Number" /></label>
            <label>TO: <input type="text" name="data.detalhes.dinheiro.to" value="{{data.detalhes.dinheiro.to}}"
                data-dtype="Number" /></label>
            <label>CARGA: <input type="text" name="data.detalhes.carga" value="{{data.detalhes.carga}}"
                data-dtype="Number" /></label>
          </div>
        </div>
      </div>
    </div>


    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div class="flexrow flex-between">
        <div style="max-width: 220px;">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"
            width="200" />
        </div>

        {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
      </div>
    </div>

    {{!-- Aviso Tab --}}
    <div class="tab aviso" data-group="primary" data-tab="aviso">
      
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div>ATAQUES</div>
            </li>
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Nome</div>
              <div class="item-bonusAtq flex2 text-center">ATQ</div>
              <div class="item-dano flex2 text-center">Dano</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="ataque"><i class="fas fa-plus"></i>
                  Novo</a>
              </div>
            </li>
            <li><center><b>Aviso: Ataques serão descontinuados. Converta-os para armas e macros.</b></center></li>
            {{#each actor.ataques as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image" style="background-image: url('{{item.img}}')"></div>
              <div class="item-name"><span class="rollable ataque-rollable"
                  data-roll="1d20+{{item.data.bonusAtq}}+@data.pericias.{{item.data.pericia}}.value"
                  data-label="{{item.name}}">
                  <h4 class="item-name">{{item.name}}</h4>
                </span></div>
              <div class="item-bonusAtq text-center"><input class="upItem" type="text" data-campo="_bonusAtq"
                  value="{{item.data._bonusAtq}}" style="max-width: 60px;" data-dtype="String" /></div>
              <div class="item-dano text-center"><input class="upItem" type="text" data-campo="_bonusDano"
                  value="{{item.data._bonusDano}}" style="max-width: 60px;" data-dtype="String" /></div>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
    </div>

  </section>
</form>