<form class="tormenta20" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="resource col-50"><input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
            </div>
            <div class="resource  col-24">
                <input type="text" name="data.custo" value="{{data.custo}}" data-dtype="Number" />
                <label>PM</label>
            </div>
            <div class="resource  col-24">
                <input type="text" name="data.cd" value="{{data.cd}}" data-dtype="Number" />
                <label>CD ({{data.totalCD}} : {{data.actorCD}}+{{data.cd}})</label>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center" style="width: 100%">
                    <select class="selectatr" name="data.tipo" value={{data.tipo}} data-type="Number">
                        {{#select data.tipo}}
                        <option value="Arcana">Arcana</option>
                        <option value="Divina">Divina</option>
                        <option value="Universal">Universal</option>
                        {{/select}}
                    </select>
                    <br><label>Tipo</label>
                </div>
                <div class="field flex-group-center" style="width: 100%">
                    <select class="selectatr" name="data.circulo" value={{data.circulo}} data-type="Number">
                        {{#select data.circulo}}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        {{/select}}
                    </select>
                    <br><label>Circulo</label>
                </div>
                <div class="field flex-group-center" style="width: 100%">
                    <select class="selectatr" name="data.escola" value={{data.escola}} data-type="String">
                        {{#select data.escola}}
                        <option value="Abjuração">Abjuração</option>
                        <option value="Adivinhação">Adivinhação</option>
                        <option value="Convocação">Convocação</option>
                        <option value="Encantamento">Encantamento</option>
                        <option value="Evocação">Evocação</option>
                        <option value="Ilusão">Ilusão</option>
                        <option value="Necromancia">Necromancia</option>
                        <option value="Transmutação">Transmutação</option>
                        {{/select}}
                    </select>
                    <br><label>Escola</label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.execucao" value="{{data.execucao}}" data-dtype="String" />
                    <label>Execução</label>
                </div>
                <div class="field flex-group-center">
                    <!-- <input type="text" name="data.alcance" value="{{data.alcance}}" data-dtype="String" /> -->
                    <select class="selectatr" name="data.alcance" value={{data.alcance}} data-type="String">
                        {{#select data.alcance}}
                        <option value="Pessoal">Pessoal</option>
                        <option value="Toque">Toque</option>
                        <option value="Curto">Curto</option>
                        <option value="Médio">Médio</option>
                        <option value="Longo">Longo</option>
                        <option value="Ilimitado">Ilimitado</option>
                        {{/select}}
                    </select>
                    <br><label>Alcance</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.duracao" value="{{data.duracao}}" data-dtype="String" />
                    <label>Duração</label>
                </div>
            </div>
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input type="text" name="data.alvo" value="{{data.alvo}}" data-dtype="String" />
                    <label>Alvo</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.area" value="{{data.area}}" data-dtype="String" />
                    <label>Area</label>
                </div>
                <div class="field flex-group-center">
                    <input type="text" name="data.resistencia" value="{{data.resistencia}}" data-dtype="String" />
                    <label>Resistência</label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="full">
            <input type="text" name="data.efeito" value="{{data.efeito}}" data-dtype="String" placeholder="Ex: 6d6+6" />
            <br><label>Rolagem</label>
        </div>

        <div class="full border">
            <label>Descrição</label>
            <textarea name="data.description" value="{{data.description}}"
                data-dtype="String">{{#if data.description}}{{data.description}}{{/if}}</textarea>
        </div>


        <div class="aprimoramentos">
          <ol class="items-list">
            <li class="item flexrow item-header flex-center">
              <div class="tooltip">APRIMORAMENTOS <div class="tooltipcontent">Segure SHIFT ao clicar na magia para abrir a janela de aprimoramentos.</div></div>
            </li>
            <li class="item flexrow item-header">
              <div class="item-custo">Custo</div>
              <div class="item-tipo">Tipo</div>
              <div class="item-formula tooltip">Rolagem <i class="fas fa-question-circle"></i>
                <div class="tooltipcontent">Use este campo para alterar a rolagem da magia. Exemplos:
                    <br><br>"d8": Mudará 2d6 para 2d8;
                    <br><br>"1d8": Substituirá a rolagem padrão por 1d8
                    <br><br>"1d8+1": (Aumenta) Aumentarará a quantidade de dados rolados para cada aplicação do aprimoramento.
                    <br><br>"-": Não rolará dados.
                </div></div>
              <div class="item-description" style="flex:2">Efeito</div>
              <div class="item-controls">

                <a class="item-control aprimoramento-create" title="Novo aprimoramento" data-type="aprimoramento"><i class="fas fa-plus"></i>
                  Novo</a>
              </div>
            </li>
            {{#each data.aprimoramentos as |ap id|}}
            <li class="item flexrow aprimoramento" data-item-id="{{ap.id}}">
              <div class="item-custo"><center>{{ap.custo}}</center></div>
              <div class="item-tipo">{{ap.tipo}}</div>
              <div class="item-formula">{{ap.formula}}</div>
              <div class="item-description" style="flex:2">
                    {{ap.description}}
              </div>
              
              <div class="item-controls">
                <a class="item-control aprimoramento-toggle" data-id="{{ap.id}}" title="Aplicar Sempre?">{{#if ap.ativo}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}</a>
                <a class="item-control aprimoramento-edit" data-id="{{ap.id}}" title="Editar Aprimoramento"><i class="fas fa-edit"></i></a>
                <a class="item-control aprimoramento-delete" data-id="{{ap.id}}" title="Deletar Aprimoramento"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>


    </section>
</form>